body {
  font-family: $font-secondary;
  background: $color-light;
  color: $color-text;
}

h1, h2, h3 {
  font-family: $font-primary;
  color: $color-dark;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
