.header {
  width: 100%;
  padding: $spacing-sm 0;
  background: rgb(247, 243, 243);
  position: sticky;
  top: 0%;
  z-index: 10;
  
  border-bottom: 1px solid #74746d;

  .nav {
    @include flex-center;
    justify-content: space-between;

    &__menu {
      display: flex;
      gap: $spacing-md;
      font-weight: 600;
    }

    &__list{
      display:flex;
      gap: 30px;
    }
  }
}
