.hero {
  padding: $spacing-xl 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  &__title {
    font-size: $font-size-4xl;
    margin-bottom: $spacing-md;
  }

  &__buttons {
    display: flex;
    gap: $spacing-md;
  }

  &__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

  &__image img {
    display: block;
    max-width: 100%;
    height: auto;
  }

}
