.hero {
  
  &__title {
    font-size: $font-size-sm;
    margin-bottom: $spacing-md;
    font-family:$font-secondary;
    line-height:$line-height;
  }

  &__description{
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: $spacing-md;
    font-size: $font-size-base;
  }

  &__image{
    display: block;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
