.testimonials{

    img{
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: 250px;
    }
    &__quote{
        text-align: center;
    }
}